*.bat
.vscode
out/*.*
out/src
*.png
*.vgm
*.psd
*.wav
*.res
*.act
*.lnk
*.tsx
*.ldtk
*.gif

// Whitelist actually used assets
!bg2.ACT
!pal3.ACT
!*.dfm
!art_*.png
!res/*.res
!res/gfx/auxiliary-palette.png
!res/gfx/mikael.png
!res/gfx/opeth.png
!res/gfx/cursor.png
!res/gfx/left_right.png
!res/gfx/bgo.png
!res/gfx/sega.png
!res/gfx/sega_red.png
!res/gfx/progress.png
!res/gfx/progress.png
!res/gfx/font.png
!res/gfx/shadow*.png
!res/sfx/*
!res/music/*.*
res/music/opeth_mist.vgm
res/music/rrr.vgm
res/music/gtr.vgm
res/music/devilorchard.vgm
res/music/*.lnk



xgm_*


